{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
       <div class="px-4 py-5 my-5 text-center">
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'algor:merge' %}" class="btn btn-primary btn-lg px-4 gap-3">Merge Sort</a>
            <a href="{% url 'algor:insertion' %}" class="btn btn-primary btn-lg px-4 gap-3">Insertion Sort</a>
            <a href="{% url 'algor:quick' %}" class="btn btn-primary btn-lg px-4 gap-3">Quick Sort</a>
            <a href="{% url 'algor:merge' %}" class="btn btn-primary btn-lg px-4 gap-3">Merge Sort</a>
            <a href="{% url 'algor:heap' %}" class="btn btn-primary btn-lg px-4 gap-3">Heap Sort</a>
          </div>
        </div>
       </div>
{% endblock %}
