{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Testy porównawcze algorytmów</h1> <br>
    <h3>Podaj k - wartość początkowa(np. 100), m - mnożnik(np. 10) oraz i - liczbę iteracji(np. 4)</h3>
    <h4>dla k = 100, m = 10, i = 5 algorytm zostanie przetestowany dla 10(2A, 2V, 2 losowe, 2 rosnące i 2 malejące) * 5 ciagów, o 5 różnych długościach </h4>
     <form class="ui large form" method="post" action="{% url 'algor:shell_test' %}">
    {% csrf_token %}
      <div style="width:800px; margin:0 auto;">
        <h4 class="mb-3">Wprowadź dane</h4>
        <form class="needs-validation" novalidate="">
            <div class="col-12">
              <label for="k" class="form-label">K<span class="text-muted"></span></label>
              <input type="number" class="form-control" id="k" name="k" placeholder="100">

              <label for="m" class="form-label">M<span class="text-muted"></span></label>
              <input type="number" class="form-control" id="m" name="m" placeholder="10">

              <label for="i" class="form-label">I<span class="text-muted"></span></label>
              <input type="number" class="form-control" id="i" name="i" placeholder="4">
    <br>
    <button class="btn btn-primary btn-lg px-4 gap-3">Testuj</button><br><br>
            </div>
    </form>
      </div>
     </form>
{% endblock %}
