{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Algorytm Heap Sort</h1> <br>
    <h3>Podaj start, krok i stop</h3>
     <form class="ui large form" method="post" action="{% url 'algor:heap_test' %}">
    {% csrf_token %}
      <div style="width:800px; margin:0 auto;">
        <h4 class="mb-3">Wprowadź dane</h4>
        <form class="needs-validation" novalidate="">
            <div class="col-12">
              <label for="start" class="form-label">Start<span class="text-muted"></span></label>
              <input type="number" class="form-control" id="start" name="start" placeholder="100" required="">

              <label for="step" class="form-label">Step<span class="text-muted"></span></label>
              <input type="number" class="form-control" id="step" name="step" placeholder="10" required="">

              <label for="stop" class="form-label">Stop<span class="text-muted"></span></label>
              <input type="number" class="form-control" id="stop" name="stop" placeholder="4" required="">
    <br>
    <button class="btn btn-primary btn-lg px-4 gap-3">Testuj</button><br><br>
            </div>
    </form>
      </div>
     </form>
{% endblock %}
